USE [master]
GO
/****** Object:  Database [BaoXing]    Script Date: 2019/7/9 0:17:45 ******/
CREATE DATABASE [BaoXing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaoXing', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BaoXing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaoXing_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BaoXing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaoXing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaoXing]
GO
USE [BaoXing]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 2019/7/9 0:17:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[F_Id] [nchar](36) NOT NULL,
	[F_CustomerName] [nvarchar](20) NOT NULL,
	[F_password] [nvarchar](50) NOT NULL,
	[F_CreatorUserId] [nchar](36) NOT NULL,
	[F_CreatorTime] [datetime] NULL,
	[F_DeleteMark] [bit] NULL,
	[F_DeleteUserId] [nchar](36) NULL,
	[F_DeleteTime] [datetime] NULL,
	[F_LastModifyUserId] [nchar](36) NULL,
	[F_LastModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[F_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tbl_Customer] ([F_Id], [F_CustomerName], [F_password], [F_CreatorUserId], [F_CreatorTime], [F_DeleteMark], [F_DeleteUserId], [F_DeleteTime], [F_LastModifyUserId], [F_LastModifyTime]) VALUES (N'811D1F8C-3197-4EBD-B1A0-F1CA08F3E167', N'admin', N'257044891af8ff53daf8eea8eb502bb0', N'811D1F8C-3197-4EBD-B1A0-F1CA08F3E167', NULL, NULL, NULL, NULL, NULL, NULL)
USE [master]
GO
